@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  font-family: "Playfair Display", serif;
}

/*
            ************
        Landing Page Styles
            ************
*/

@media only screen and (max-width: 991px) {
  nav.navbar.navbar-expand-lg.navbar-light.homepage-nav {
    justify-content: space-between !important;
  }
}

#logo {
  width: 320px;
  height: 60px;
}

.navbar .nav-link {
  /* padding-top: 20px !important; */
  padding-right: 3.5rem !important;
  color: #0f0623 !important;
  font-weight: 500 !important;
  font-size: 22px;
  padding-bottom: 5px;
}

.navbar-nav li a:hover {
  text-decoration: underline #ff4133;
}

#home {
  background-image: url(./../img/home-bg.jpg);
  height: 120vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#home .above-search-bar-text {
  text-align: center;
  padding: 145px 0 0 0;
  font-size: 5rem;
  font-weight: 600;
}

#home .tagline-text {
  font-size: 1.7rem;
  font-weight: 500;
}

#custom-purple {
  color: #6534cc;
}

#custom-red {
  color: #ff4133;
}

.seach-box {
  padding-top: 20px;
  outline: none;
}

.seach-box input {
  height: 54px;
  width: 650px;
  border-width: 4px;
  border-color: #ff4133;
  border-radius: 30px;
  outline: none !important;
}

.seach-box input[type="text"] {
  /* background-color: white; */
  outline: none;
}

.seach-box input[type="text"] {
  padding: 20px 20px 20px 35px;
}

.services-image {
  width: 110px;
  height: 140px;
  margin: auto;
  padding: 15px 0px;
  border: 1px;
}

.card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  border-style: solid;
  border-color: #ff4133;
}

.pill-container {
  padding-top: 20px;
}

.pill-container .pill-button {
  background-color: #6534cc;
  border: none;
  color: black;
  padding: 5px 45px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;
  margin: 4px 2px;*/
  outline: none;
  border-radius: 16px;
}

.services .btn {
  left: 50%;
}

.services {
  margin-bottom: 10px;
}

.services #signup {
  border-radius: 30px;
  width: 160px;
  height: 45px;
  font-size: 21px;
  background-color: #ff4133;
  outline: none;
  border: none;
}

.join-area {
  background-image: url(./../img/web-talkshala-graphics-png.png);
  height: 31vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.talkshala .talkshala-description {
  padding-left: 95px;
}

.talkshala .talkshala-description #talkshala-heading {
  color: #6534cc;
  font-size: 20px;
  font-weight: 700;
}

.talkshala .talkshala-description #talkshala-text {
  font-size: 15px;
}

.talkshala-icons {
  width: 110px;
  height: 100px;
  float: left;
  padding-right: 10px;
}

.talkshala #join-btn {
  border-radius: 45px;
  width: 300px;
  border-color: #ff4133;
  outline: none;
  color: #6534cc;
  margin-top: 50px;
  font-size: 22px;
  border-width: 2px;
}

/*.newsletter {
    background-image: url(../img/college-students-sitting-bench-illustration-university-girls-boys-with-bags-laptop.jpg);
    height: 150vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}*/

.newsletter .newsletter-top-img {
  background-image: url(./../img/web-email/web-email-section-top.png);
  width: 100%;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.newletter-below-img {
  background-image: url(./../img/web-email/below.png);
  width: 100%;
  height: 42vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter .newsletter-text h1 {
  font-size: 50px;
}

.newsletter-text input {
  height: 50px;
  width: 400px;
  border-width: 1.5px;
  border-color: red;
  border-radius: 25px 0 0 25px;
  outline: none;
  padding-left: 20px;
}

.newsletter-text input[type="button"] {
  color: #6534cc;
  background: #fff;
  margin-left: -7px;
  border-radius: 0 25px 25px 0;
  padding: 12px 10px;
  width: 110px;
  outline: none;
}

.site-footer {
  background-color: #fff;
  padding: 45px 0px 0px 0px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer .copyright-area {
  background-color: #0f0623;
  padding: 1px;
  color: #fff;
}

.site-footer .copyright-area #footer-copyright-text {
  padding-top: 13px;
}

.site-footer h6 {
  color: #6534cc;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer #footer-social-icons {
  width: 50px;
  height: 45px;
  padding-bottom: 2px;
  /* line-height: 229px; */
  margin-left: 6px;
  margin-right: 0;
  /* border-radius: 100%;*/
}

@media (max-width: 1486px) {
  .navbar .nav-link {
    padding-top: 20px !important;
    padding-right: 3.1rem !important;
    color: #0f0623 !important;
    font-weight: 500 !important;
    font-size: 22px;
    padding-bottom: 5px;
  }
}

@media (max-width: 1380px) {
  .navbar .nav-link {
    padding-top: 20px !important;
    padding-right: 2.5rem !important;
    color: #0f0623 !important;
    font-weight: 500 !important;
    font-size: 22px;
    padding-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .site-footer [class="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

@media (max-width: 1024px) {
  .navbar .nav-link {
    padding-top: 20px !important;
    padding-right: 1.5rem !important;
    color: #0f0623 !important;
    font-weight: 500 !important;
    font-size: 22px;
    padding-bottom: 5px;
  }

  #logo {
    width: 350px;
    height: 75px;
    padding-top: 10px;
  }

  .join-area {
    background-image: url();
  }
}

@media (max-width: 988px) {
  .join-area {
    background-image: url();
    height: 31vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .talkshala .talkshala-description {
    padding-left: 45px;
  }

  .talkshala .talkshala-description #talkshala-heading {
    color: rgb(101, 52, 204);
    font-size: 10px;
    font-weight: 700;
  }

  .talkshala .talkshala-description #talkshala-text {
    font-size: 9px;
  }
}

@media (max-width: 768px) {
  .site-footer #footer-social-icons {
    width: 50px;
    height: 45px;
    padding-bottom: 2px;
    /* line-height: 229px; */
    margin-left: -5px;
    margin-right: 0;
    /* border-radius: 100%; */
  }
}

@media (max-width: 768px) {
  #logo {
    width: 155px;
    height: 45px;
  }

  .seach-box input {
    height: 1px;
    width: 290px;
  }

  #home {
    background-image: url(./../mobile/images/first-section.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #home .above-search-bar-text {
    text-align: center;
    padding: 95px 0 0px 0;
    font-size: 3rem;
    font-weight: 600;
  }

  #home .tagline-text {
    font-size: 14px;
    padding: 0px 40px;
  }

  .services .services-heading {
    font-size: 19px;
  }

  .talkshala .talkshala-h1 {
    font-size: 20px;
  }

  .talkshala .talkshala-description {
    padding-left: 20px;
  }

  .talkshala-icons {
    width: 85px;
    height: 82px;
    float: left;
    padding-right: 7px;
  }

  .talkshala .talkshala-description #talkshala-heading {
    color: #6534cc;
    font-size: 10px;
    font-weight: 700;
  }

  .talkshala .talkshala-description #talkshala-heading {
    color: #6534cc;
    font-size: 10px;
    font-weight: 700;
  }

  .site-footer .copyright-area #footer-copyright-text {
    padding: 0px;
    padding-left: 0px;
    padding-top: 0px;
  }

  .newsletter-text input {
    height: 50px;
    width: 175px;
    border-width: 1.5px;
    border-color: red;
    border-radius: 25px 0 0 25px;
    padding-left: 16px;
  }

  .newsletter .newsletter-text h1 {
    font-size: 30px;
  }

  .join-area {
    background-image: url();
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .talkshala #join-btn {
    border-radius: 45px;
    width: 227px;
    border-color: #ff4133;
    outline: none;
    color: #6534cc;
    margin-top: 20px;
    font-size: 18px;
    border-width: 2px;
  }
}

@media (max-width: 411px) {
  #home {
    background-image: url(./../mobile/images/first-section.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  }
}

@media (max-width: 320px) {
  #home {
    background-image: url(./../mobile/images/first-section.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #home .above-search-bar-text {
    font-size: 1.5rem;
  }

  .seach-box input {
    height: 1px;
    width: 220px;
  }

  .seach-box input[type="text"] {
    padding: 20px 20px 20px 16px;
    font-size: 14px;
  }
}

/*
            ************
        Landing Page Styles Ends 
            ************
*/

/*
            ************
        All product page Styles
            ************
*/

.custom-nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.nav-seach-box {
  padding-top: 8px;
  outline: none;
}

/* .nav-seach-box {
  padding-top: 23px;
  outline: none;
} */

.nav-seach-box input {
  height: 45px;
  width: 300px;
  border-width: 1.5px;
  border-color: #ff4133;
  border-radius: 25px;
  outline: none;
}

.nav-seach-box .searchButton {
  z-index: 1;
  position: relative;
  right: 45px;
  /* width: 40px; */
  /* height: 15%; */
  border: none;
  background: transparent;
  text-align: center;
  color: #fff;
  /* border-radius: 0 5px 5px 0; */
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.nav-seach-box .searchButton i {
  color: #ff4133;
}

.nav-seach-box:focus {
  outline: none;
}

.seach-box .searchButton {
  z-index: 1;
  position: relative;
  right: 45px;
  /* width: 40px; */
  /* height: 15%; */
  border: none;
  background: transparent;
  text-align: center;
  color: #fff;
  /* border-radius: 0 5px 5px 0; */
  cursor: pointer;
  font-size: 20px;
}

.seach-box .searchButton i {
  color: #ff4133;
}

.seach-box .searchButton:focus {
  outline: none;
}


.breadcrumb {
  background-color: #fff;
}

.nav-seach-box input[type="text"] {
  padding: 20px;
}

#small-screen-search-box {
  display: none;
}

.bg-custom-blur {
  background-color: #ffffff !important;
}

.navbar-nav li .navbar-talkshala {
  font-size: 25px;
}

.results-found {
  font-size: 20px;
}

.notes-info-tab {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  margin: 10px 0px 10px 0;
}

.custom-card-image {
  width: 170px;
  height: 200px;
}

.card-text-body {
  float: right;
  padding: 0rem;
  margin-right: 100px;
}

.card-heading {
  font-size: 55px;
  padding-top: 30px;
  text-decoration: none;
}

.prof-name {
  font-size: 30px;
  float: left;
}

.prof-name a {
  color: black !important;
}

.university-name a {
  color: black !important;
}

.university-name {
  font-size: 30px;
  float: right;
}

.load-more {
  color: #6534cc;
  border: 1px solid #ff4133;
  border-radius: 35px;
}

@media (max-width: 1198px) {
  .card-heading {
    font-size: 45px;
    padding-top: 30px;
  }

  .prof-name {
    font-size: 25px;
    float: left;
  }

  .university-name {
    font-size: 25px;
    float: right;
  }
}

@media (max-width: 984px) {
  .card-text-body {
    float: right;
    padding: 0rem;
    margin-right: 20px;
  }

  .card-heading {
    font-size: 37px;
    padding-top: 30px;
  }

  .prof-name {
    font-size: 18px;
    float: left;
  }

  .university-name {
    font-size: 19px;
    float: right;
  }

  .custom-card-image {
    width: 140px;
    height: 170px;
  }

  #large-screen-search-box {
    display: none;
  }

  #small-screen-search-box {
    display: block;
  }

  #small-screen-search-box .nav-seach-box input {
    width: 92%;
  }
}

@media (max-width: 400px) {
  #small-screen-search-box .nav-seach-box input {
    width: 89%;
  }
}

@media (max-width: 904px) {
  .custom-card-image {
    width: 140px;
    height: 150px;
  }

  .notes-info-tab {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 10px 0px 10px 0;
  }

  .card-text-body {
    float: right;
    padding: 0rem;
    margin-right: 0px;
  }

  .card-heading {
    font-size: 40px;
    padding-top: 30px;
  }

  .prof-name {
    font-size: 20px;
    float: left;
  }

  .university-name {
    font-size: 20px;
    float: right;
  }
}

@media (max-width: 742px) {
  .card-heading {
    font-size: 25px;
    padding-top: 30px;
  }

  .prof-name {
    font-size: 15px;
    float: left;
  }

  .university-name {
    font-size: 15px;
    float: right;
  }

  .custom-card-image {
    width: 110px;
    height: 130px;
  }
}

@media (max-width: 470px) {
  .card-heading {
    font-size: 24px;
    padding-top: 20px;
  }

  .notes-info-tab {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 10px 0px 10px 0;
  }

  .custom-card-image {
    width: 76px;
    height: 94px;
  }

  .card-heading {
    font-size: 20px;
    padding-top: 20px;
  }

  .prof-name {
    font-size: 10px;
    float: left;
  }

  .university-name {
    font-size: 10px;
    float: right;
  }

  .notes-info-tab {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 22px;
    margin: 10px 0px 10px 0;
  }
}

@media (max-width: 375px) {
  .notes-info-tab {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 13px;
    margin: 10px 0px 10px 0;
  }
}

@media (max-width: 360px) {
  .card-heading {
    font-size: 18px;
    padding-top: 29px;
  }

  .card-text-body {
    float: right;
    padding: 0rem;
    margin-right: 12px;
  }

  .notes-info-tab {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    margin: 10px 0px 10px 0;
  }

  .prof-name {
    font-size: 11px;
    float: left;
  }

  .university-name {
    font-size: 10px;
    float: right;
  }

  .custom-card-image {
    width: 95px;
    height: 110px;
  }
}

@media (max-width: 320px) {
  .custom-card-image {
    width: 55px;
    height: 65px;
  }

  .card-heading {
    font-size: 17px;
    padding-top: 10px;
  }

  .prof-name {
    font-size: 9px;
    float: left;
  }

  .university-name {
    font-size: 9px;
    float: right;
  }

  .notes-info-tab {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 7px;
    margin: 10px 0px 10px 0;
  }
}

/*
            ************
        All product page Styles Ends
            ************
*/

/*
            ************
        Cart page Styles Ends
            ************
*/

.cart-notes-info-tab #remove {
  float: right;
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 33px;
}

.cart-notes-info-tab {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  margin: 10px 0px 10px 0;
}

.cart .card-text-body {
  float: right;
  padding: 0rem;
  margin-right: 100px;
}

.cart .university-name {
  font-size: 30px;
  float: right;
  margin-right: 6rem;
}

.cart .card-heading {
  font-size: 55px;
  padding-top: 30px;
}

.cart .notes-details {
  font-size: 30px;
  float: left;
}

.cart .notes-details span {
  margin-left: 1rem;
}

.cart .custom-card-image {
  width: 170px;
  height: 200px;
}

.total-cart #box {
  margin: 3rem 25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.cart-total-amount {
  margin-left: 6rem;
}

.total-cart .cart-total-heading {
  padding-left: 1.5rem;
  font-size: 22px;
}

.checkout-btn-cart {
  margin-left: 5.5rem;
  font-size: 20px;
}

.cart #prof-name a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1200px) {
  .cart .custom-card-image {
    width: 140px;
    height: 170px;
  }

  .cart .card-heading {
    font-size: 40px;
    padding-top: 30px;
  }

  .cart .notes-details {
    font-size: 20px;
    float: left;
  }

  .total-cart #box {
    margin: 3rem 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
  }
}

@media (max-width: 990px) {
  .cart .card-text-body {
    float: right;
    padding: 0rem;
    margin-right: 40px;
  }

  .cart-notes-info-tab {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    margin: 10px 0px 10px 0;
  }

  .cart .card-heading {
    font-size: 33px;
    padding-top: 30px;
  }

  .total-cart #box {
    margin: 3rem 12rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
  }

  .cart .notes-details span {
    margin-left: 0.5rem;
  }
}

@media (max-width: 990px) {
  .cart .custom-card-image {
    width: 100px;
    height: 120px;
  }

  .cart .card-heading {
    font-size: 35px;
    padding-top: 15px;
  }

  .cart .notes-details {
    font-size: 20px;
    float: left;
  }

  .total-cart #box {
    margin: 3rem 6rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .cart .custom-card-image {
    width: 80px;
    height: 105px;
  }

  .cart .card-heading {
    font-size: 25px;
    padding-top: 10px;
  }

  .cart .notes-details {
    font-size: 17px;
    float: left;
  }
}

@media (max-width: 523px) {
  .cart .custom-card-image {
    width: 66px;
    height: 90px;
  }

  .cart .card-heading {
    font-size: 23px;
    padding-top: 10px;
  }

  .cart .notes-details {
    font-size: 14px;
    float: left;
  }

  .total-cart #box {
    margin: 3rem 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
  }
}

@media (max-width: 460px) {
  .cart-notes-info-tab {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px;
    margin: 10px 0px 10px 0;
  }

  .cart .card-heading {
    font-size: 21px;
    padding-top: 10px;
  }

  .cart .card-text-body {
    float: right;
    padding: 0rem;
    margin-right: 40px;
  }

  .cart .notes-details {
    font-size: 12px;
    float: left;
  }
}

@media (max-width: 417px) {
  .cart .custom-card-image {
    width: 50px;
    height: 60px;
  }

  .cart .card-text-body {
    float: right;
    padding: 0rem;
    margin-right: 23px;
  }

  .cart .card-heading {
    font-size: 15px;
    padding-top: 10px;
  }

  .cart .notes-details {
    font-size: 9px;
    float: left;
  }

  .total-cart #box {
    margin: 3rem 0rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
  }
}

/*
            ************
        Cart page Styles Ends
            ************
*/

/*
            ************
        Single Product Page
            ************
*/

.single-page-container {
  margin-left: 4rem;
  margin-right: 4rem;
}

.navigation {
  padding: 25px 0px;
}

.heading-title {
  float: left;
}

.heading-title-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 10px;
}

.heading-title-menu li {
  float: right;
}

.heading-title-menu li a {
  font-size: 25px;
  padding-right: 20px;
}

.single-product-page-rating {
  padding-top: 10px;
}

.rating-stars {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rating-stars li {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

.rating-number {
  margin-left: 100px;
}

#number-rating {
  padding: 0px 10px;
}

#upload-area {
  justify-content: space-between;
  padding: 0px 20px;
  font-size: 1.5rem;
}

.course-and-suggested-area {
  margin-top: 20px;
  margin-bottom: 20px;
}

.notes-image {
  background-image: url("https://collegeshala-assets.s3.ap-south-1.amazonaws.com/single-product-page.png");
  width: 50%;
  height: 100vh;
  background-size: cover;
}

@media (max-width: 1245px) {
  .notes-image {
    height: 68vh;
  }
}


@media (max-width: 990px) {
  .notes-image {
    height: 58vh;
  }
}

@media (max-width: 768px) {
  .notes-image {
    height: 84vh;
  }
}

@media (max-width: 595px) {
  .notes-image {
    height: 60vh;
  }
}

@media (max-width: 400px) {
  .notes-image {
    width: 50%;
    height: 50vh;
  }
}


.notes-image .buy-now-btn {
  position: absolute;
  bottom: 2%;
  left: 22%;
  transform: translate(-50%, -50%);
  background-color: white;
  outline: none;
  color: #6534cc;
  border: 1px solid #ff4133;
  border-radius: 30px;
  width: 131px;
  height: 36px;
}

.notes-image .add-to-cart-btn {
  position: absolute;
  bottom: 2%;
  left: 80%;
  transform: translate(-50%, -50%);
  background-color: white;
  outline: none;
  color: #6534cc;
  border: 1px solid #ff4133;
  border-radius: 30px;
  width: 131px;
  height: 36px;
}

.notes-image .preview-btn {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  outline: none;
  color: #6534cc;
  border: 1px solid #ff4133;
  border-radius: 30px;
  width: 180px;
  height: 40px;

}

.notes-image .btn-2 {
  position: absolute;
  bottom: 2%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: white;
}

.course-and-suggested-area .suggested-products-heading {
  font-size: 40px;
}

.suggested-products-heading {
  font-size: 31px;
}

.suggested-product-image {
  width: 90px;
  height: 90px;
  margin-left: 1rem;
}

.suggested-products-area {
  margin-left: 3rem;
  margin-right: 4rem;
}

.suggested-product-info {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  padding-right: 1rem;
  margin: 25px 0px 35px 0;
}

.suggested-card-heading {
  font-size: 31px;
  /*padding-top: 30px;*/
}

.suggested-card-prof-name {
  font-size: 17px;
  float: left;
}

.suggested-card-university-name {
  font-size: 17px;
  float: right;
}

.suggested-card-text-body {
  float: right;
  padding: 0rem;
  margin-right: 1rem;
}

.single-product-prof-details-area {
  float: left;
  margin-top: 1rem;
}

.single-product-prof-vector {
  float: left;
  width: 48px;
  height: 46px;
  margin-top: 2rem;
  margin-right: 1rem;
}

.single-product-prof-details {
  float: right;
}

.single-product-user-comments-heading {
  font-size: 25px;
}

.custom-links {
  color: black;
  text-decoration: none;
}

.custom-links:hover {
  text-decoration: none;
}

@media (max-width: 1400px) {
  .suggested-product-image {
    width: 70px;
    height: 70px;
    margin-left: 1rem;
  }
  .suggested-card-heading {
    font-size: 25px;
    /* padding-top: 30px; */
  }
  .suggested-products-area {
    margin-left: 1rem;
    margin-right: 4rem;
  }
  .suggested-product-info {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    padding-right: 0rem;
    margin: 25px 0px 35px 0;
  }
  .suggested-card-prof-name {
    font-size: 14px;
    float: left;
  }
  .suggested-card-university-name {
    font-size: 14px;
    float: right;
  }
}

@media (max-width: 1120px) {
  .course-and-suggested-area .suggested-products-heading {
    font-size: 30px;
  }
  .suggested-product-image {
    width: 50px;
    height: 50px;
    margin-left: 0rem;
  }
  .suggested-products-area {
    margin-left: 1rem;
    margin-right: 2rem;
  }
  .suggested-card-heading {
    font-size: 22px;
    /* padding-top: 30px; */
  }
  .suggested-card-prof-name {
    font-size: 12px;
    float: left;
  }
  .suggested-card-university-name {
    font-size: 12px;
    float: right;
  }
}

@media (max-width: 920px) {
  .suggested-card-heading {
    font-size: 16px;
    /* padding-top: 30px; */
  }
  .suggested-card-prof-name {
    font-size: 9px;
    float: left;
  }
  .suggested-card-university-name {
    font-size: 9px;
    float: right;
  }
}

@media (max-width: 767px) {
  .suggested-product-image {
    width: 130px;
    height: 130px;
    margin-left: 0rem;
  }
  .course-and-suggested-area .suggested-products-heading {
    font-size: 30px;
    margin-top: 3rem;
  }
  .suggested-card-heading {
    font-size: 35px;
    padding-top: 20px;
  }
  .suggested-card-prof-name {
    font-size: 16px;
    float: left;
  }
  .suggested-card-university-name {
    font-size: 16px;
    float: right;
  }
}

@media (max-width: 750px) {
  .suggested-product-image {
    width: 90px;
    height: 105px;
    margin-left: 0rem;
  }
  .suggested-products-area {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .suggested-card-heading {
    font-size: 20px;
    padding-top: 20px;
  }

  .suggested-card-prof-name {
    font-size: 12px;
    float: left;
  }
  .suggested-card-university-name {
    font-size: 12px;
    float: right;
  }
}

@media (max-width: 450px) {
  .notes-image .buy-now-btn {
    position: absolute;
    bottom: 2%;
    left: 22%;
    transform: translate(-50%, -50%);
    background-color: white;
    outline: none;
    color: #6534cc;
    border: 1px solid #ff4133;
    border-radius: 30px;
    width: 100px;
    height: 36px;
  }
  .notes-image .add-to-cart-btn {
    position: absolute;
    bottom: 2%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    outline: none;
    color: #6534cc;
    border: 1px solid #ff4133;
    border-radius: 30px;
    width: 104px;
    height: 36px;
  }
  .suggested-product-image {
    width: 70px;
    height: 85px;
    margin-left: 0rem;
  }
  .suggested-card-text-body {
    float: right;
    padding: 0rem;
    margin-right: 0rem;
  }
  .suggested-card-heading {
    font-size: 16px;
    padding-top: 10px;
  }
  .suggested-card-prof-name {
    font-size: 9px;
    float: left;
  }
  .suggested-card-university-name {
    font-size: 9px;
    float: right;
  }
  .single-product-prof-vector {
    float: left;
    width: 26px;
    height: 25px;
    margin-top: 2rem;
    margin-right: 1rem;
  }
  .single-product-prof-details-area .suggested-page-prof-details-heading {
    font-size: 20px;
  }
  .single-product-user-comments-heading {
    font-size: 20px;
  }
  .single-page-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

/*
            ************
        Single Product Page Ends
            ************
*/

/*
            ************
        Student Dashboard page Styles
            ************
*/

.student-dash-nav {
  font-size: 20px;
  margin-top: 3rem;
}

.student-dash-nav a {
  color: black;
  font-size: 25px;
}

.student-dash-nav a:hover {
  text-decoration: underline #ff4133;
  font-size: 25px;
}

.student-dashboard-main-heading {
  /* padding-left: 13rem; */
  padding: 30px 0px 30px 208px;
  font-size: 50px;
}

.pagination {
  margin-top: 10px;
}

@media (max-width: 1426px) {
  .student-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 30px 0px 30px 163px;
    font-size: 50px;
  }
}

@media (max-width: 1278px) {
  .student-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 30px 0px 30px 75px;
    font-size: 50px;
  }
}

@media (max-width: 1182px) {
  .student-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 30px 0px 30px 111px;
    font-size: 50px;
  }
}

@media (max-width: 1186px) {
  .student-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 30px 0px 30px 125px;
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .nav-seach-box {
    padding-top: 18px;
    outline: none;
    margin-left: 0px;
  }

  .student-dashboard-material .card {
    margin-bottom: 2rem;
  }
}

@media (max-width: 320px) {
  .student-dashboard-main-heading {
    /* padding-left: 13rem; */
    /* padding: 30px 0px 30px 208px; */
    font-size: 20px;
  }
}

@media (max-width: 414px) {
  .student-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 0px 0px 0px 85px;
    font-size: 20px;
    margin: 30px 0px;
  }
}

/*
            ************
        Student Dashboard page Styles ends
            ************
*/

/*
            ************
        Student Account page Styles 
            ************
*/

.student-account {
  margin-top: 2rem;
}

.student-dash-nav {
  font-size: 20px;
  margin-top: 3rem;
}

.student-dash-nav a {
  color: black;
  font-size: 25px;
}

.student-dash-nav a:hover {
  text-decoration: underline #ff4133;
  font-size: 25px;
}

.student-dashboard-main-heading {
  /* padding-left: 13rem; */
  padding: 30px 0px 30px 208px;
  font-size: 50px;
}

.pagination {
  margin-top: 10px;
}

.student-account #inputState {
  /* height: 45px; */
  /* width: 300px; */
  /* border-width: 1.5px; */
  border-color: #ff4133;
  border-radius: 25px;
  outline: none;
}

.student-account #update {
  border-radius: 30px;
  width: 160px;
  height: 45px;
  /*font-size: 21px;*/
  background-color: #ff4133;
  outline: none;
  border: none;
  color: #fff;
  margin-top: 1rem;
}

.student-account #discard {
  border-radius: 30px;
  width: 160px;
  height: 45px;
  /* font-size: 21px; */
  /* background-color: #ff4133; */
  outline: none;
  border: 1px solid #ff4133;
  margin-top: 1rem;
  color: #ff4133;
  margin-left: 0.5rem;
}

.student-account input {
  height: 40px;
  /* width: 300px; */
  /* border-width: 1.5px; */
  border-color: #ff4133;
  border-radius: 25px;
  outline: none;
}

.student-account label {
  margin-left: 1rem;
  font-size: 25px;
  margin-top: 0.5rem;
}

@media (max-width: 1426px) {
  .student-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 30px 0px 30px 163px;
    font-size: 50px;
  }
}

@media (max-width: 1278px) {
  .student-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 30px 0px 30px 75px;
    font-size: 50px;
  }
}

@media (max-width: 1182px) {
  .student-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 30px 0px 30px 111px;
    font-size: 50px;
  }
}

@media (max-width: 1186px) {
  .student-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 30px 0px 30px 125px;
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .nav-seach-box {
    /* padding-top: 27px; */
    outline: none;
    margin-left: 0px;
  }

  .student-dashboard-material .card {
    margin-bottom: 2rem;
  }
}

@media (max-width: 320px) {
  .student-dashboard-main-heading {
    /* padding-left: 13rem; */
    /* padding: 30px 0px 30px 208px; */
    font-size: 20px;
  }
}

@media (max-width: 414px) {
  .student-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 0px 0px 0px 85px;
    font-size: 20px;
    margin: 30px 0px;
  }
}

/*
            ************
        Student Account page Styles ends
            ************
*/

/*
            ************
        Coming soon page Styles
            ************
*/
.coming-soon-heading {
  margin-top: 15rem;
  font-size: 7rem;
}

@media (max-width: 449px) {
  .coming-soon-heading {
    margin-top: 15rem;
    font-size: 3rem;
  }
}
/*
            ************
        Coming soon page Styles
            ************
*/

/*
            ************
        Teacher Dashboard page Styles
            ************
*/

.student-account {
  margin-top: 2rem;
}

.student-dash-nav {
  font-size: 20px;
  margin-top: 3rem;
}

.student-dash-nav a {
  color: black;
  font-size: 25px;
}

.student-dash-nav a:hover {
  text-decoration: underline #ff4133;
  font-size: 25px;
}

.teacher-dashboard-main-heading {
  /* padding-left: 13rem; */
  padding: 0px;
  font-size: 38px;
}

#teacher-upload-button {
  border-radius: 45px;
  width: 170px;
  border-color: #ff4133;
  outline: none;
  color: #6534cc;
  margin-top: 50px;
  font-size: 16px;
  border-width: 2px;
}

.pagination {
  margin-top: 10px;
}

@media (max-width: 1426px) {
  .teacher-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 0px;
    font-size: 50px;
  }
}

@media (max-width: 1278px) {
  .teacher-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 0px;
    font-size: 50px;
  }
}

@media (max-width: 1182px) {
  .teacher-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 0px;
    font-size: 50px;
  }
}

@media (max-width: 1186px) {
  .teacher-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 0px;
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .nav-seach-box {
    /* padding-top: 27px; */
    outline: none;
    margin-left: 0px;
  }

  .student-dashboard-material .card {
    margin-bottom: 2rem;
  }
}

@media (max-width: 320px) {
  .teacher-dashboard-main-heading {
    /* padding-left: 13rem; */
    /* padding: 30px 0px 30px 208px; */
    font-size: 20px;
  }
}

@media (max-width: 414px) {
  .teacher-dashboard-main-heading {
    /* padding-left: 13rem; */
    padding: 0px;
    font-size: 20px;
    margin: 30px 0px;
  }
}

.student-dash-nav a .active {
  background-color: blue;
}

/*
            ************
        Teacher Dashboard page Styles Ends
            ************
*/

/*
            ************
        About Us Page Styles Starts
            ************
*/

.highlight-para {
  font-size: 2.1rem;
}

#About-Us {
  border-bottom: #ff4133 2px solid;
}

#About-Us h2 {
  color: #6534cc;
}

#About-Us .about-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.purple-color {
  color: #6534cc;
  font-family: Arial, Helvetica, sans-serif;
}

#About-Team img {
  width: 120px;
  margin-top: -50px;
}

#Tech-team img {
  width: 80px;
  margin-top: -50px;
}

/*
            ************
        About Us Page Styles Ends
            ************
*/

/*
            ************
        My Transaction Page Styles Starts
            ************
*/

#my-transaction h2,
p,
b {
  font-family: Arial, Helvetica, sans-serif;
}

#my-transaction .text-black {
  color: #000000;
}

#my-transaction img {
  width: 80px;
  border-radius: 5px;
}

.transaction-book-details {
  margin-left: -80px;
}

.red-color {
  color: #ff4133;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1200px) {
  .transaction-book-details {
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  #my-transaction img {
    width: 150px;
  }
}

#my-transaction #prof-name a {
  text-decoration: none;
  color: black;
}

/*
            ************
        My Transaction Page Styles Ends
            ************
*/

/*
            ************
        My Earning Page Styles Starts
            ************
*/

#earning-credits-section .custom-earning-button {
  border: #ff4133 2px solid;
  border-radius: 45px;
  padding: 0.4rem 2.4rem;
  color: #6534cc;
  margin-top: -5px;
}

.custom-buy-credits-button {
  border: #ff4133 2px solid;
  border-radius: 45px;
  padding: 0.4rem 2.4rem;
  color: #6534cc;
  margin-top: -5px;
}

/* #earning-credits-section h2,
p,
b,
span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
 */
#earning-credits-section .lead {
  font-size: 1.2rem;
  font-weight: 500;
}

/* #earning-details-section h2,
h4,
p,
b,
span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */

#earning-details-section img {
  border-radius: 5px;
  width: 85px;
}

#earning-details-section .lead {
  font-size: 1.2rem;
  font-weight: 500;
}

#earning-details-section #prof-name a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  #earning-credits-section .custom-earning-button {
    margin-top: 15px;
  }
}

/*
            ************
        My Earning Page Styles Ends
            ************
*/

/*
            ************
        Professor-info Page Styles Starts
            ************
*/

#custom-carousel .custom-img {
  height: 720px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  background-size: 20px 20px;
  background-position: center;
}

/*
            ************
        Blog Page Styles Starts
            ************
*/

#Blog-section .card-custom-image {
  height: 200px;
}

#Blog-section .card-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#Blog-section a {
  background-color: #6534cc;
}

#Blog-section a:hover {
  background-color: #46248f;
}

.pdf-buttons {
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  background-color: #ccb5ff;
  font-weight: bold;
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}

.pdf-buttons:hover {
  background-color: #ac85ff;
}

.page-status {
  font-weight: bold;
  margin: 10px auto 10px auto;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px 5px 5px 5px;
  font-size: large;
  border: 2px solid #ffbec4;
  width: 20%;
}

.pdf-viewer,
.pdf-renderer {
  margin: auto;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.pdf-viewer .pdf-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
